<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit <%= product.name %> </h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="post">
        <label for="name">Product Name:</label>
        <input type="text" name="name" id="name" placeholder="product name" value="<%= product.name %>"> <br>
        <label for="price">Product Price: </label>
        <input type="number" name="price" id="price" placeholder="product price" value="<%= product.price %>"> <br>
        <select name="category" id="category">
            <% for(let category of categories) { %>
            <option value="<%= category %>" <%= product.category === category ? 'selected' : '' %>><%= category %>
            </option>
            <% } %>
        </select>
        <button>Update</button>
    </form>
    <a href="/products/<%= product.id  %> ">Back to Product</a>
</body>

</html>